<div class="flex min-w-0 flex-auto flex-col items-center sm:justify-center"
     style="background-color: #2b2a29;"    
>
    <div
        class="w-full px-4 py-8 sm:bg-card sm:w-auto sm:rounded-2xl sm:p-12 sm:shadow bg-accent"
    >
        <div class="mx-auto w-full max-w-80 sm:mx-0 sm:w-80 rounded-lg"
             style="background-color: #2b2a29;"   
        >
            <!-- Logo -->
            <div class="mx-auto w-30">
                <img src="images/logo/playevent.svg" />
            </div>

            <!-- Title -->
            <div
                class="mt-8 text-center text-4xl font-extrabold leading-tight tracking-tight text-white"
            >
                Вы вышли!
            </div>
            <div class="mt-0.5 flex justify-center font-medium text-white">
                <!-- Redirect countdown -->
                @if (countdown > 0) {
                    Перенаправление
                    {{ countdown | i18nPlural: countdownMapping }}
                }

                <!-- Redirect message -->
                @if (countdown === 0) {
                    Сейчас вас перенаправят
                }
            </div>

            <!-- Form footer -->
            <div class="text-white mt-8 text-center text-md font-medium">
                <span>Перейти на</span>
                <a
                    class="ml-1 text-accent-500 hover:underline"
                    [routerLink]="['/sign-in']"
                    >вход
                </a>
            </div>
        </div>
    </div>
</div>
